.border {
  composes: borderColorLightGray from "./Borders.module.css";
}

.borderDarkGray {
  composes: borderColorDarkGray from "./Borders.module.css";
}

.borderError {
  composes: borderColorRed from "./Borders.module.css";
}

.borderHovered {
  composes: borderColorTranslucidGray from "./Borders.module.css";
}

.borderRadiusSm {
  composes: rounding1 from "./Borders.module.css";
}

.borderRadiusMd {
  composes: rounding2 from "./Borders.module.css";
}

.check {
  composes: block from "./Layout.module.css";
  composes: borderBox from "./Layout.module.css";
  composes: flex from "./Layout.module.css";
  composes: itemsCenter from "./Layout.module.css";
  composes: justifyCenter from "./Layout.module.css";
  composes: sizeLg from "./Borders.module.css";
  composes: solid from "./Borders.module.css";
}

.checkFocused {
  composes: accessibilityOutlineFocus from "./Focus.module.css";
}

.input {
  composes: Input from "./RadioButton.module.css";
}

.inputEnabled {
  composes: pointer from "./Cursor.module.css";
}

.sizeSm {
  composes: SizeSm from "./RadioButton.module.css";
}

.sizeMd {
  composes: SizeMd from "./RadioButton.module.css";
}
