.textField {
  composes: borderBox from "./Layout.module.css";
  composes: Text fontSize3 from "./Text.module.css";
  composes: xsCol12 from "./Column.module.css";
  padding: 8px 16px;
}

.textField::placeholder {
  color: #8e8e8e;
}
